<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/styles.css">
    <th:block th:replace="header :: header"></th:block>
</head>
<body>
<h1>Update User</h1>
<form id="updateForm" th:action="@{'/users/' + ${user.id}}" method="post" th:object="${user}">
    <input type="hidden" name="_method" value="put"> <!-- Method override for PUT -->

    <!-- Hidden field for user ID -->
    <input type="hidden" th:field="*{id}" />

    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required><br><br>

    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required><br><br>

    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

    <label for="number">Number:</label><br>
    <input type="text" id="number" name="number" th:field="*{number}" required><br><br>

    <div th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>

    <label for="mailAddress">Email Address:</label><br>
    <input type="email" id="mailAddress" name="mailAddress" th:field="*{mailAddress}" required><br><br>

    <div th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></div>

    <label for="birthDate">Birth Date:</label><br>
    <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" required><br><br>

    <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>

    <button type="submit">Update User</button>
</form>
</body>
</html>
